.root {
    width: 100%;
}

.root button+button {
    margin-left: 3px;
}

.root input {
    width: 100%;
}

.root thead th {
    padding-bottom: 20px;
}

.root th,
.root td,
.root tbody td:last-child {
    position: relative;
}

.columnLast {
    text-align: right;
}

.submitButton {
    width: 100%;
    margin-top: 32px;
}

.inputButton {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-25%, 25%);
}

.addButton {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-150%, 25%);
}
