.root {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    outline: none;
    transition: all 100ms ease-in-out;
    font-size: 1em;
    color: #333;
    flex-grow: 1;
    background: none;
}
