.root {
    padding: 4px;
    appearance: none;
    border: none;
    cursor: pointer;
    font-family: 'PT Sans';
    font-size: 1em;
    transition: all 250ms ease-in-out;
    border-radius: 6px;
}

.root[disabled] {
    cursor: default;
    filter: grayscale(1);
    color: #ddd;
}

.theme_orange,
.theme_green,
.theme_grey {
    padding: 8px 16px;
}

.theme_orange {
    background: #f7a136;
    color: #fff;
    margin: 0 auto;
}

.theme_green {
    background: #a6c719;
    color: #333;
}

.theme_none {
    background: none;
    color: #333;
}

.theme_grey {
    background: #cccccc;
}

.size_small {
    width: 24px;
    height: 24px;
    padding: 0;
}

.size_auto {
    width: auto;
    height: auto;
}
