.root {
    appearance: none;
    background: none;
    border: none;

    cursor: pointer;

    font-family: 'PT Sans';
    font-size: 1em;

    color: #333;

    transition: all 250ms ease-in-out;
}

.type_wide {
    width: 100%;
}

.type_classic {
    padding: 16px;
}

.color_green {
    background: #a6c719;
}

.color_orange {
    background: #f7a136;
    color: #fff;
}

.size_large {
    padding: 16px;
}

.size_medium {
    padding: 8px;
}

.size_small {
    padding: 4px;
}
