.root {
    font-size: 1em;
    padding-bottom: 16px;
    color: #333;
    background: transparent;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.root > * {
    padding-bottom: 16px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 48px 0;
    
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    
}

.title_condensed {
    padding-bottom: 0;
}

.subtitle {
    display: flex;
    align-items: center;
    margin: 0 16px;

    font-family: 'PT Sans Narrow';
    font-size: 1.55em;
    font-weight: 100;
}
