.root {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.link {
    transition: all 250ms;
    background: #f7a136;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    flex-grow: 1;
}

.link:hover {
    background: #a6c719;
}

.link:not(:last-child) {
    border-bottom: 1px solid #fff;
}
