@value hamburger-gap: 6px;

.root {
  position: relative;
}

.navigationTrigger {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  color: rgba(36, 132, 198, 0.8);
  cursor: pointer;
  z-index: 100;
}

.navigationIcon {
  fill: #a6c719;
}
