.root {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.flexFlow_row {
    flex-flow: row wrap;
}

.flexFlow_column {
    flex-flow: column wrap;
}

.root_nowrap {
    flex-wrap: nowrap;
}

.listType_default {
    list-style-type: none;
}

.listType_circle {
    list-style-type: circle;
}

.listType_bullet {
    list-style-type: disc;
}

.listType_numeric {
    list-style-type: decimal;
}

.align_evenly {
    justify-content: space-evenly;
}

.align_start {
    justify-content: flex-start;
}

.align_center {
    justify-content: center;
}
