.root {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.root_nowrap {
    flex-wrap: nowrap;
}

.align_evenly {
    justify-content: space-evenly;
}

.align_start {
    justify-content: flex-start;
}

.align_center {
    justify-content: center;
}
