.root {
    display: flex;
    flex-flow: column;
    padding: 16px 16px 36px;
    background: #fff;
    gap: 8px;
    width: 100%;
}

.text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.submitButton {
    width: 100%;
}
