.root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #f7a136;
    line-height: 34px;
    color: #f7a136;
    font-size: 1.4em;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    transition: all 250ms;
}

.root:hover {
    background-color: #f7a136;
    color: #fff;
}
