.disclaimer {
    margin-top: 16px;
    text-align: center;
    color: #ccc;
}

.disclaimer:last-child {
    margin-bottom: 48px;
}

.subtitle {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 8px;
    white-space: nowrap;
}
