.disclaimer {
    color: #ccc;
    text-align: center;
    margin-top: 16px;
}

.subtitle {
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
