.root {
    padding: 16px 16px 36px;
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.submitButton {
    width: 100%;
    margin: 16px 0 32px;
}

.disclaimer {
    text-align: center;
    color: #333;
}
