.root {
    text-align: center;
    margin: 8px;

    width: 120px;
    min-height: 120px;
    margin: 8px;
    padding: 4px;

    position: relative;
}

.root > *:not(:first-child) {
    margin-top: 16px;
}
