.root {
    position: relative;
}

.preview {
    width: 100%;
    height: auto !important;
}

.preview_type_gloss {
    position: absolute;
    width: 100%;
    top: -4px;
    left: 0;
}

.preview_type_clouds {
    position: absolute;
    width: 100%;
    top: -1px;
    left: 0;
}
