.root {
    display: flex;
    align-items: center;
    width: 100%;
}

.pictureContainer {
    position: relative;
    max-width: 204px;
    height: 204px;
    width: 100%;
    float: left;
    margin-right: 8px;
}

.picture {
    object-fit: contain;
    border-radius: 6px; 
}

.author {
    text-transform: capitalize;
}
.date {
    font-size: 0.8em;
    color: #ccc;
}
.text {
    margin-top: 16px;
    /* height: 140px; */
    overflow: hidden;
    text-overflow: ellipsis;
}
