.root {
    display: flex;
    align-items: center;
    width: 100%;
}

.pictureContainer {
    position: relative;
    max-width: 160px;
    width: 100%;
    aspect-ratio: 3/4;
    margin-right: 26px;
}

.pictureContainer:empty {
    display: none;
}

.picture {
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.author {
    text-transform: capitalize;
}
.date {
    font-size: 0.8em;
    color: #ccc;
}
.text {
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 700px) {
    .pictureContainer {
        width: 150px;
    }
}
