.root {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
}

.modal {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.size_small {
    width: 25%;
}

.size_medium {
    width: 100%;
    max-width: 568px;
}

.size_large {
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 700px) {
    .modal {
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}
