.advantages
    padding-bottom: 40px

.advantages-list
    display: flex
    flex-flow: row wrap
    justify-content: center
    list-style: none

.advantages__item
    display: block
    width: 120px
    min-height: 120px
    margin: 8px
    padding: 4px
    text-align: center

.advantages-item
    flex-grow: 1
    flex-shrink: 1

.advantages__item-icon
    width: 100%;
    text-align: center;

    & img
        max-width: 64px
        width: 100%

.advantages-item__title
    margin-top: 16px

.advantages-item__icon_type_letter
    width: 64px
    height: 64px
    background: #fff
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    font-size: 3em
    font-weight: 800
    color: #4d4d4d
    font-family: "PT Sans Narrow"
    margin: 0 auto