.certificates__list
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	align-items: center
	
.certificates__list-item
	flex-shrink: 1
	margin: 0 8px

.certificates__list-item img
	max-width: 100%