.colorpicker
    width: 296px
    position: fixed
    z-index: 10
    box-shadow: 0 0 3px #555
    top: 50%
    left: 50%
    margin-left: -148px
    transform: translateY(-50%)
    background: #fff
    padding: 4px

.colorpicker__color
    width: 24px
    height: 24px

.colorpicker__colors
    display: flex
    flex-flow: row wrap

.colorpicker__button
    width: 100%
    height: 32px
    background: $green
    border: none
    margin-top: 4px
    color: #333