.contacts
    border-top: 2px solid $green


.address
    margin: 16px 0

.address__title
    font-weight: bold

.address__place
    // 

.address__phone
    //

.contacts__copyright
    margin: 16px 0

.contacts__vk-widget
    width: 100% !important
    margin: 32px 0