.filter
    display: block
    list-style: none
    // font-size: 0.8em
    text-align: center
    margin: 0 0 12px
    
.filter__trigger
    color: #333
    text-decoration: underline
    cursor: pointer
    
.filter__trigger_active_yes
    color: $green

.filter__item
    display: inline-block
    margin: 0 2px 4px
    // padding: 4px 8px 3px
    padding: 8px
    // border-radius: 4px
    cursor: pointer
    user-select: none
    transition: 200ms ease-in

    // &:not(.filter__item--active):before
    //     content: '☐'
        
    // &:before
    //     content: '☒'

    &:not(.filter__item--active)
        // text-decoration: line-through
        background: #ccc
        color: #333

    &.filter__item--active
        background: $green
        color: #232323

.gallery
    list-style: none
    display: flex
    justify-content: center
    flex-flow: row wrap

.gallery__item
    margin: 0 2px 4px
    flex-shrink: 1
    // max-width: 48%
    max-width: 23%
    width: 23%
    list-style: none
    display: inline-block
    transition: transform 250ms ease-in-out

    & img
        max-width: 100%

.gallery__trigger
    border-top: 1px dotted currentColor
    color: $green
    text-align: center
    padding: 8px
    margin: 0 16px
    cursor: pointer
    animation: colorize 8s ease-in-out infinite
    
.gallery-popup
    position: fixed
    max-width: 600px
    width: 90%
    top: 50%
    left: 50%
    transform: translateY(-50%) translateX(-50%)
    padding: 16px
    background: #fff
    box-shadow: 0 0 5px #333
    z-index: 1000
    
.gallery-popup__controls
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    
.gallery-popup__control
    padding: 8px
    font-weight: bold
    width: 32px
    height: 32px
    background: $green
    color: white
    
    display: flex
    align-items: center
    justify-content: center
    margin: 0 8px
    
.gallery-popup__image
    max-width: 100%
    width: 595px

.gallery-popup__description
    margin: 16px 0
    text-align: center
    
