.responses__next,
.responses__prev
    flex-shrink: 0
    background: $green
    // border-radius: 50%
    width: 42px
    height: 42px
    text-align: center
    line-height: 42px
    color: #fff
    font-size: 1.4em
    cursor: pointer

.responses__next
    margin-right: 8px

.responses__prev
    margin-left: 8px

.responses__list
    // width: calc80%
    flex-grow: 1
    padding: 8px
    margin: 0 8px

.responses
    display: flex
    flex-flow: row nowrap
    align-items: center

.response__date
    font-size: 0.8em
    color: #ccc

.response__name
    text-transform: capitalize

.response__message
    margin-top: 16px
    height: 140px
    overflow: hidden
    text-overflow: ellipsis    

    &:first-letter
        text-transform: uppercase

.response__photo
    max-width: 204px
    width: 100%
    height: 204px
    float: left
    margin-right: 8px
    text-align: center
    background: rgba(0,0,0,0.1)
    background-size: contain
    background-position: center center
    background-repeat: no-repeat

.response__photo-image
    max-height: 100%

.leave-response
    text-align: center
    padding: 8px
    margin: 8px

.leave-response__title
    //

.leave-response__form
    //

.response-form
    overflow: hidden

.leave-response__title,
.leave-response__submit
    padding: 8px
    display: inline-block
    margin: 32px auto
    width: 140px
    text-align: center
    background: $green
    color: #fff
    cursor: pointer
    border: none
    font-size: 1.0em
    font-family: 'PT Sans'

.leave-response__submit
    // float: right
    margin: 0 0 32px
    width: 100%

    border: none
    outline: none
    background: $orange
    padding: 16px
    color: #333
    font-size: 1em
    float: right
    width: 100%
    cursor: pointer
    transition: all 250ms ease-in-out

    &[disabled]
        cursor: default