.image {
    position: relative;
    animation: load 2s alternate-reverse infinite;
    width: 220px;
    height: 140px;
    object-fit: contain;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .image {
        width: 140px;
        height: 100px;
    }
}

@keyframes load {
    from {
        background-color: rgb(0, 0, 0);
    }
    to {
        background-color: rgb(255, 255, 255);
    }
}
