.settings__buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.button {
    padding: 4px 8px;
    height: 35px;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.button > * {
    cursor: inherit;
}

.buttonActive {
    background: #f7a136;
}
