.input__field {
    flex-grow: 1;
}

.input__field {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    margin: 8px 0;
    outline: none;
    flex-shrink: 1;
    transition: all 100ms ease-in-out;
    background: none;
    outline: none;
    width: 100%;
    font-size: 1em;
    color: #333;
    transition: background 250ms ease-in-out;
}

.settings__buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.button {
    padding: 8px;
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button > * {
    cursor: inherit;
}

.buttonActive {
    background: #f7a136;
}
