.root {
    display: flex;
    position: relative;
    width: 100%;
    padding: 8px 52px;
}


.next,
.prev {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.container {
    width: 100%;
    
}

.viewport {
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
}

.list {
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    transition: all 500ms ease;
}

.list > * {
    flex-grow: 1;
    white-space: normal;
    flex-shrink: 0;
}
