.about {
  background: #f7a136;
  color: #333;
}

.about__content {
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
  background: #f7a136;
}

.advantagesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__item {
  display: block;
  width: 120px;
  min-height: 120px;
  margin: 8px;
  padding: 4px;
  text-align: center;
}
