.zoom-enter-to, 
.zoom-leave
	transition: transform .5s

.zoom-enter, 
.zoom-leave-to
	transform: scale(0)

.slide-enter-to,
.slide-leave
	opacity: 1

.slide-enter,
.slide-leave-to
	opacity: 0

@keyframes colorize
	0%
		color: $green
	25%
		color: $blue
	50%
		color: $darkBlue
	75%
		color: $orange
	100%
		color: $green

@keyframes colorize-svg
	0%
		fill: $green
	25%
		fill: $blue
	50%
		fill: $darkBlue
	75%
		fill: $orange
	100%
		fill: $green