@media screen and (max-width: 700px)

    .howto__list
        flex-flow: column wrap

    .howto__list-item
        margin: 16px 0
        width: 100%

    .navigation__link
        font-size: 1.5em

    .navigation__close
        right: 30px
        font-size: 2.5em
        top: 9.4%

    .response__photo
        margin-right: 8px
        margin: 0 auto 8px
        display: block
        float: none
        
    .visualizer
        font-size: 0.8em
        
@media screen and (max-width: 570px)
        
    .icon--eco
        width: 46px
        height: 46px
        top: 24px
        
    // .header__phone-more
        // display: none

    .header__action
        color: #fff
        font-size: 1.0em
        text-align: center

    .header__phone
        font-size: 1.0em

    .header__footer
        width: 100%
        background: #06445f
        left: 0
        right: 0
        color: #fff

    .scroll-down__arrow
        color: #fff
        
    // .header__action,
    // .header__phone
    //     // font-size: 0.8em