.address {
  margin: 16px 0;
}

.address__title {
  font-weight: bold;
}

.contacts {
  text-align: center;
  font-size: 0.8em;
  border-top: 2px solid #f7a136;
}

.contacts__copyright {
  margin: 16px 0;
}
